:root {
  --color-canvas-default: #f6f9fc;
  --color-fg-default: #111;

  --color-page-bg: #ffffff;
  --color-page-border: #ccc;

  --color-header-bg: #ae77ae;
  --color-header-border: #966496;

  --color-primary: #6c456c;
  --color-primary-h: #955e95;

  --color-pink-bright: #bc88bd;
  --color-pink-dark: #9d6f9e;

  --color-window-bg: #f1e9fc;

  --color-gradient-default: linear-gradient(
    180deg,
    #9d6f9e,
    #bc88bd 50%,
    #785279
  );

  --color-component-bg: #eedaee;
  --color-component-shadow: #d1b1d1;

  --focus-outline: 3px dashed black;
}
