@import "_palette.scss";

:root {
  background: url("/lainbg.jpg");
  background-attachment: fixed;
  color: var(--color-fg-default);

  font-family: "Lexend", sans-serif;
  font-size: 16px;

  --taskbar-height: 48px;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}
